@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  background-color: #f7f7f9;
}

main {
  width: 100%;
}

html {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

.toolbar {
  color: #6070ff;
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.logo {
  text-decoration: none;
  color: inherit;
}

.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 10%;
  cursor: pointer;
  font-size: 28px;
}

.main {
  justify-content: center;
  align-items: center;
  padding: 0 7%;
  border-radius: 0 0 0 4em;
  background-color: #f7f7f9;
  background-image: url(./assets/header-mobile.png);
  background-size: 100%;
  background-position-x: center;
  background-repeat: no-repeat;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: absolute;
  width: 375px;
  height: 604px;
  left: calc(50% - 375px / 2);
  top: 92px;
}

.my-headline {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.headline-heading {
  margin: 60px 0;
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  align-items: center;
  color: #172b4d;
}

.paragraph {
  width: 327px;
  height: 146px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.social-suport {
  margin: 10px 0;
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.my-social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #505f79;
  list-style: none;
}

.my-social-icons > a,
i {
  text-decoration: none;
  color: #505f79;
  font-size: 1.25rem;
  padding-right: 1em;
}

.works {
  width: 375px;
  height: 2788px;
  position: absolute;
  top: 718px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 114px 24px;
  gap: 88px;
  background-color: #f7f7f9;
}

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.card-reverse {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.snap {
  width: 295px;
  height: 220px;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  gap: 12px;
  width: 295px;
  height: 288px;
}

.blocktexts {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 295px;
  height: 80px;
}

.cardtitle {
  width: 295px;
  height: 36px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.cardlistitems {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px;
  gap: 12px;
  width: 327px;
  height: 32px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.cardlistitems ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px;
  gap: 12px;
  width: 320px;
  height: 32px;
}

.title {
  width: 55px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.lists23 {
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.carddesc {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.cardul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px;
  gap: 8px;
  width: 214px;
  height: 24px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.cardbutton {
  width: 295px;
  height: 72px;
  flex: none;
  order: 3;
}

.seeproject {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px;
  gap: 10px;
  position: absolute;
  width: 126px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  text-decoration: none;
  color: #6070ff;
}

.cardul ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px;
  gap: 8px;
  width: 214px;
  height: 24px;
}

.cardul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #6070ff;
}

.about-myself {
  width: 375px;
  height: 1062.15px;
  position: absolute;
  top: 3506px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  gap: 24px;
  background-color: #fff;
  border-radius: 8px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1px;
  gap: 12px;
  width: 327px;
  height: 346px;
}

.skill-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
  width: 327px;
  height: 464.15px;
}

.headtitle {
  width: 327px;
  height: 35px;
}

.headtitle h1 {
  width: 327px;
  height: 35px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.headdesc {
  width: 327px;
  height: 147px;
}

.headdesc p {
  width: 327px;
  height: 147px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1px;
  gap: 16px;
  width: 200px;
  height: 80px;
}

.connect {
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.connect a {
  text-decoration: none;
  color: #7f8cff;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px;
  width: 200px;
  height: 40px;
}

.icons li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  list-style-type: none;
  border-radius: 8px;
}

.resume {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 162px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.resumelink {
  width: 138px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  text-decoration: none;
}

.languages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  width: 327px;
  height: 320.15px;
}

.langtitle {
  width: 327px;
  height: 72px;
}

.langtitle h4 {
  position: absolute;
  height: 24px;
  top: calc(50% - 24px / 2);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
  padding: 16px;
  flex: none;
  order: 0;
}

.langlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 12px;
  width: 327px;
  height: 248.15px;
  flex: none;
  order: 1;
  list-style-type: none;
}

.langlistul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 12px;
  width: 327px;
  height: 248.15px;
}

.langlistul li {
  width: 303px;
  height: 66.72px;
  display: flex;
  align-items: center;
  gap: 24px;
  background: #f7f7f9;
  border-radius: 8px;
  list-style-type: none;
}

.langlistul li p {
  height: 24px;
  background: #f7f7f9;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.langlistul li img {
  width: 48px;
  height: 48px;
}

.frames {
  width: 327px;
  height: 72px;
  background-color: #fff;
  border-bottom: 1px solid #dfe1e6;
  display: flex;
  align-items: center;
}

.frames span {
  width: 40px;
  height: 40px;
  padding: 8px;
}

.frames h4 {
  width: 237px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  color: #000;
}

.contact-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 2em;
  border-radius: 5em 0 0 0;
  background-color: #6070ff;
  background-image: url(./assets/contact-bg.png);
  background-repeat: no-repeat;
  background-position-x: right;
  position: absolute;
  top: 4500px;
  left: 0;
}

.contact-heading {
  text-align: center;
  margin-top: 0.9em;
  font-family: inherit;
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 50px;
}

.contact-paragraph {
  text-align: center;
  margin-top: 0.75em;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  color: #ebebff;
  width: 80%;
  margin-left: 35px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 0.75em;
  margin-bottom: 10px;
}

.contact-form > input:focus,
textarea:focus {
  outline: none !important;
  border: 1px solid #f7f7f9;
  box-shadow: 0 0 2px #f7f7f9;
}

.contact-input {
  margin-top: 0.75em;
  margin-left: 35px;
  padding: 0.75em;
  width: 80%;
  border: 1px solid #cfd8dc;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  border-radius: 8px;
}

.contact-button {
  align-self: flex-start;
}

button {
  font-family: inherit;
  background: #fff;
  color: #396df2;
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px;
  font-size: 1.05em;
  font-weight: 500;
  letter-spacing: 0.03em;
  width: auto;
  margin-left: 35px;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

button:hover {
  background: #6070ff;
  box-shadow: 0 0.5em 1em #4053fc3d;
  color: #fff;
}

button:active {
  background: #2230d2;
  color: #fff;
}

button:disabled,
button[disabled] {
  border: 1px solid #c1c7d0;
  color: #5e6c84;
}

@media screen and (min-width: 768px) {
  .nav-links {
    position: absolute;
    top: 8px;
    right: 120px;
    display: flex;
    margin-top: 25px;
    padding: 0;
    color: #6070ff;
    font-size: 18px;
  }

  .nav-link {
    margin: 0 10px;
    cursor: pointer;
    color: #6070ff;
    font-size: 15px;
  }

  .menu-icon {
    display: none;
  }

  .main {
    width: 100%;
    height: 800px;
    top: 150px;
    background-image: url(./assets/desktop-bg.png);
    display: flex;
    flex-direction: column;
    left: 5px;
    right: 5px;
  }

  .my-headline {
    margin: 20px 0;
  }

  .headline-heading {
    font-size: 40px;
    line-height: 50px;
  }

  .paragraph {
    width: 600px;
    height: auto;
    font-size: 24px;
    line-height: 28px;
  }

  .social-support {
    font-size: 22px;
  }

  .my-social-icons {
    font-size: 24px;
  }

  .my-social-icons > a,
  i {
    font-size: 1.5rem;
    padding-right: 1.5em;
  }

  .works {
    width: 100%;
    height: 2788px;
  }

  .card {
    width: 820px;
    height: auto;
    flex-direction: row;
    align-items: flex-start;
  }

  .card-reverse {
    width: 820px;
    height: auto;
    flex-direction: row-reverse;
    align-items: flex-start;
  }

  .snap {
    width: 220px;
    height: 300px;
    flex: 1;
    order: 1;
    flex-grow: 1;
  }

  .block {
    width: 380px;
    height: auto;
    padding: 16px;
  }

  .snap img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .about-myself {
    width: 100%;
    height: auto;
    position: absolute;
    top: 3200px;
    padding: 214px 80px;
    gap: 5px;
    display: flex;
    flex-direction: row;
  }

  .top {
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .skill-list {
    width: 100%;
    height: auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .langtitle h4 {
    position: static;
    top: auto;
    height: auto;
    padding: 8px;
    font-size: 24px;
    line-height: 28px;
  }

  .contact-container {
    background-image: url(./assets/desktop-contact.png);
    background-position: center;
    background-size: contain;
    align-content: center;
    padding: 10% 25%;
    margin-top: 0;
    background-repeat: no-repeat;
  }

  .contact-button {
    align-self: center;
  }
}
